html {
    background-color: #141414;
    width: 90%;
    min-width: 500px;
    margin: auto;
}


.kumaFlixTitle {
    color:blue;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-family: Helvetica Neue, Arial, sans-serif;

}

.netflixHeading {
    color: white;
    text-align: center;
    font-family: Helvetica-Neue, Arial, sans-serif;
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    .netflixHeading {
        font-size: 20px;
      
    }
}


.characterGrid {
    display: flex;
    justify-content: center;
    margin-top: 150px;


  
   
}

@media screen and (max-width: 600px) {
    .characterGrid {
        display:grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        justify-items: center;
        width: 100%;
      
    }
}

@media screen and (max-width: 600px) {
    .card {
       margin-bottom: 60px;
      
    }
}


img {
    border: 2px solid transparent;
    border-radius: 5%;
  }

img:hover {
    border: 2px solid white;
  }

